button {
    border: none;
    background-color: rgb(222, 220, 231);
    font-size: 24px;
    color: rgb(92, 89, 89);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
  }

  .zero {
    grid-column: 1 / 3;
    background-color: rgb(222, 220, 231);
    color: rgb(92, 89, 89);
  }

  .equals{
    background-color: rgb(241, 102, 10);
    color: rgb(230, 235, 239);
  }

  .operations {
    background-color: rgb(92, 89, 89);
    color: rgb(230, 235, 239);
  }

  .clear {
    background-color: rgb(221, 18, 18);
    color: rgb(230, 235, 239);
  }


  
  