.screen {
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 20px;
    background-color: #89adcf2d;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
  }